<div ng-class="{ 'table-height' : !carSelected(), 'table-short' : carSelected() }">
    <table class="table table-hover table-striped table-dark">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">Lap</th>
                <th scope="col">Lap Time</th>
                <th scope="col">Last Lap</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="car in getOrderedCars()" ng-click="selectCar(car.id, car.teamid)" ng-class="{ 'table-active' : selectedCar(car.id, car.teamid) }">
                <th scope="row" class="board-position" ng-class="car.class">{{ $index + 1 }}</th>
                <th>{{car.name}}   <small class="text-muted">{{car.team}}</small></th>
                <th>{{car.laps}}</th>
                <th class="lap-time">{{car.lap | number : 3}}</th>
                <th class="lap-time">{{car.last_lap | number : 3}}
                    <small ng-class="{ 'lap-green' : (car.lap_delta < 0), 'lap-red' : (car.lap_delta > 0) }">{{ car.lap_delta | number : 3 }}</small>
                </th>
            </tr>
        </tbody>
    </table>
</div>