<div ng-if="carSelected()" class="stats-panel">
    <div class="card text-white bg-dark">
        <div class="card-header">
            <button class="btn btn-dark float-sm-right" ng-click="toggleStats()">
                <i ng-if="!stats" class="icon-chart-line"></i>
                <i ng-if="stats" class="icon-gauge"></i>
            </button>
        </div>
        <div class="card-body" ng-if="!stats">
            <div class="row">
                <div class="col-5">
                    <ng-gauge class="dial" size="300" max="350" value="getCar().speed" thick="20" type="arch" label="Speed" append="kph" foreground-color="#f15500"></ng-gauge>
                </div>
                <div class="col-7">
                    <br/>
                    <br/>
                    <h1>{{getCar().name}}</h1>
                    <h3>{{getCar().team}}</h3>
                </div>
            </div>
        </div>
        <div class="card-body" ng-if="stats">
            <nvd3 options="options" data="data"></nvd3>
        </div>
    </div>
</div>
