body {
    background: #212529;
    color: #f1f1f1;
    font-family: 'PT Sans', sans-serif;
}

canvas {
    width : 90%;
}

.header {
    background-color: #212529;
    color: #f1f1f1;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 24px;
    font-style: italic;
}

.race-map {
    padding: 16px;
    background-color: #121212;
}

.table-active {
    background-color: #f15500 !important;
}
.table-active:hover {
    background-color: #f47700 !important;
}

.table-height {
    max-height: 85vh !important;
    overflow: auto;
}

.table-short {
    max-height: 45vh !important;
    overflow: auto;
}

.stats-panel {
    height: 40vh! important;
}

.table {
    white-space: nowrap;
}

.table-dark > thead th {
    border: none !important;
}

.scrubber-view {
    height : 72px;
    width : 100%;
    padding : 16px;
    position: fixed;
    bottom: 0;
    background-color: #121212;
}

.dial {
    font-family: 'Lato', sans-serif;
}

.dial > span {
    left:0;
}

.dial > b {
    left:0;
}

.btn-primary {
    background-color: #f15500;
    border-color: #f12200;
}

.btn-primary:hover, active, focus {
    background-color: #f47700;
    border-color: #f36600;
}

.board-position {
    font-weight: bold;
    border-right-width: 12px !important;
    border-right-style: solid !important;
    text-align: center;
    width: 0px;
    background-color: #676767;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
}

.lap-time {
    font-family: 'Lato', sans-serif;
}

.lap-green {
    color: #00b956 !important;
}

.lap-red {
    color: #f64d3c !important;
}

.col-cc0066 {
    border-right-color: #cc0066 !important;
}

.col-00aaef {
    border-right-color: #00aaef !important;
}

.col-00b956 {
    border-right-color: #00b956 !important;
}

.col-ffc600 {
    border-right-color: #ffc600 !important;
}

.col-f64d3c {
    border-right-color: #f64d3c !important;
}

.col-3a3335 {
    border-right-color: #3a3335 !important;
}

.col-fdf0d5 {
    border-right-color: #fdf0d5 !important;
}

.col-eb5e55 {
    border-right-color: #eb5e55 !important;
}

.col-710627 {
    border-right-color: #710627 !important;
}

.col-2f1847 {
    border-right-color: #2f1847 !important;
}

.tick > line {
    stroke: #212121 !important;
}

.tick > text {
    stroke: 0;
    fill: #f1f1f1 !important;
}

.nvd3 text {
    stroke: 0;
    fill: #f1f1f1 !important;
}

.nvd3 .nv-groups path.nv-line {
    stroke-width: 2;
}

.btn-link {
    color: #f15500;
}

.btn-link:hover, active, focus {
    color: #f47700;
}